<div class="brackets">
  <div class="serie west-quarter-1">
    <%= render "serie", serie: @west_quarters[0] %>
  </div>
  <div class="serie west-quarter-2">
    <%= render "serie", serie: @west_quarters[3] %>
  </div>
  <div class="serie west-quarter-3">
    <%= render "serie", serie: @west_quarters[2] %>
  </div>
  <div class="serie west-quarter-4">
    <%= render "serie", serie: @west_quarters[1] %>
  </div>
  <div class="serie east-quarter-1">
    <%= render "serie", serie: @east_quarters[0] %>
  </div>
  <div class="serie east-quarter-2">
    <%= render "serie", serie: @east_quarters[3] %>
  </div>
  <div class="serie east-quarter-3">
    <%= render "serie", serie: @east_quarters[2] %>
  </div>
  <div class="serie east-quarter-4">
    <%= render "serie", serie: @east_quarters[1] %>
  </div>
</div>
