<div class="user-menu">
  <% if current_user.team.present? %>
    <div class="text-center">
      <%= image_tag "icons/#{current_user.team.name.downcase}.svg", class: "team-logo #{current_user.team.name.downcase}" %>
    </div>
  <% else %>
    <div class="text-center">
      <div>
        Elegi a tu equipo favorito
      </div>
    </div>
  <% end %>
    <div class="text-center">
      <div>
        <%= current_user.name %>
      </div>
    </div>
  <div class="buttons">
    <div>
      <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: "btn btn-default" %>
    </div>
    <div>
      <% if current_user.team.present? %>
        <%= link_to 'Editar perfil', edit_user_path(current_user), class: "btn btn-primary team-btn #{current_user.team.name.downcase}" %>
      <% else %>
        <%= link_to 'Editar perfil', edit_user_path(current_user), class: "btn btn-primary team-btn" %>
      <% end %>
    </div>
  </div>

  <%= render "points" %>
</div>
