<div class="panel panel-default">
  <div class="flex-header">
    <div class="team-header <%= serie.team_a.name.downcase %>">
      <%= image_tag "icons/#{serie.team_a.name.downcase}.svg", class: "team-logo" %>
      <%= serie.team_a.name %>
    </div>
    <div class="team-header <%= serie.team_b.name.downcase %>">
      <%= image_tag "icons/#{serie.team_b.name.downcase}.svg", class: "team-logo" %>
      <%= serie.team_b.name %>
    </div>
  </div>

  <table class="table">
    <thead>
      <th>#</th>
      <th>Ganador</th>
      <th>Mas Puntos</th>
      <th>Mas Asistencias</th>
      <th>Mas Rebotes</th>
    </thead>
    <tbody>
      <% serie.matches.each_with_index do |m, i| %>
        <% stat = Stat.find_by(user: current_user, match: m) || Stat.create!(user: current_user, match: m) %>
        <tr>
          <%= render "stats/form", stat: stat, game: i+1 %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
