<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Ganador</th>
        <th>Mas Puntos</th>
        <th>Mas Asistencias</th>
        <th>Mas Rebotes</th>
      </thead>
      <tbody>
        <td>
          <%= f.select(:winner_id, [[match.team_a.name, match.team_a.id], [match.team_b.name, match.team_b.id]], {}, {class: "form-control"}) %>
        </td>
        <td>
          <%= f.select(:most_points_id, match.players_options, {}, {class: "form-control"}) %>
        </td>
        <td>
          <%= f.select(:most_assists_id, match.players_options, {}, {class: "form-control"}) %>
        </td>
        <td>
          <%= f.select(:most_rebounds_id, match.players_options, {}, {class: "form-control"}) %>
        </td>
        <td>
          <%= f.submit %>
        </td>
      </tbody>
    </table>
  </div>
<% end %>
