<%= form_for(stat) do |f| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <td class="game-row-data">
    <%= game %>
  </td>
  <td class="row-data">
    <%= f.select(:winner_id, [[stat.team_a.name, stat.team_a.id], [stat.team_b.name, stat.team_b.id]], {prompt: "No hay"}, {class: "form-control"}) %>
  </td>
  <td class="row-data">
    <%= f.select(:most_points_id, grouped_options_for_select(stat.players_options, stat.most_points_id), {prompt: "No hay"}, {class: "form-control"}) %>
  </td>
  <td class="row-data">
    <%= f.select(:most_assists_id, grouped_options_for_select(stat.players_options, stat.most_assists_id), {prompt: "No hay"}, {class: "form-control"}) %>
  </td>
  <td class="row-data">
    <%= f.select(:most_rebounds_id, grouped_options_for_select(stat.players_options, stat.most_rebounds_id), {prompt: "No hay"}, {class: "form-control"}) %>
  </td>
  <td class="game-row-data">
    <%= f.submit "Ok", class: "btn btn-default" %>
  </td>
<% end %>
