<td class="game-row-data">
  <%= game %>
</td>
<td class="row-data no-edit">
  <%= stat.winner.name %>
</td>
<td class="row-data no-edit">
  <%= stat.most_points.name %>
</td>
<td class="row-data no-edit">
  <%= stat.most_assists.name %>
</td>
<td class="row-data no-edit">
  <%= stat.most_rebounds.name %>
</td>
